
#text-area-code {
  width: var(--size-width-area-text);
  height: var(--size-height-area-text);
  background: url(http://i.imgur.com/2cOaJ.png);
  background-attachment: local;
  background-repeat: no-repeat;
  padding-left: 35px;
  padding-top: 10px;
  background-color: var(--color-background-text-area);
  color: var(--color-text-text-area);
  white-space: pre;
  box-sizing: border-box;
  resize: none;
}