<div class="row" style="width: 100%">
  <div class="col">
    <!-- listado de arhivos en uso -->
    <ng-container *ngFor="let item of listadoFiles; index as i">
      <button class="file-name" (click)="cargarTexto(i)">
        {{ item.name }}
      </button>
      <button
        class="file-name"
        (click)="eliminarArchivo(i)"
        style="background-color: brown"
      >
        <i class="bi bi-x"></i>
      </button>
    </ng-container>
    <button class="botton-funcion" (click)="addComponet()">
      <i class="bi bi-file-earmark-plus"></i>
    </button>
  </div>
  <div class="col-auto">
    <!-- boton de subir archivo -->
    <button class="botton-funcion col">
      <input
        (change)="onChange($event)"
        accept=".crl"
        type="file"
        id="file"
        class="input_couston"
      />
      <i class="bi bi-cloud-upload"></i>
    </button>
    <!-- boton de descargar archivo -->
    <button class="botton-funcion col" (click)="exportarArchivo()">
      <i class="bi bi-download"></i>
    </button>
    <button class="botton-funcion col" (click)="compilar()">
      <i class="bi bi-play-circle"></i>
    </button>
  </div>
</div>
<div class="row" style="width: 100%">
  <!-- ara tex para ingresar el codigo -->
    <textarea
      id="text-area-code-number"
      class="col-1"
      cols="1"
      rows="40"
      [(ngModel)]="textConador"
      disabled
      (mouseenter)="updateCurrentElement('scrollTwo')" (scroll)="updateVerticalScroll($event)" #scrollTwo
    ></textarea>
    <textarea
      [(ngModel)]="textArea"
      #control="ngModel"
      class="col"
      (change)="actualizar(control)"
      (keypress)="contadorLineas()"
      id="text-area-code"
      cols="10"
      rows="40"
      (mouseenter)="updateCurrentElement('scrollOne')" (scroll)="updateVerticalScroll($event)" #scrollOne
    ></textarea>
</div>
<div class="row">
  <app-console> </app-console>
</div>
